*, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 300px;
}

.h1templates {
    border: 1px solid;
    height: 150px;
}

.mascotte {
    width: 150px;
}

.text-marie{
    text-align: center;
}

.footer{
    background-color: #003399;
    color : #FFFFFF;
    padding : 20px 0px;
}