*, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 300px;
}

.h1templates {
    border: 1px solid;
    height: 150px;
}

.mascotte {
    width: 150px;
}

.text{
    text-align: center;
}

.divimgindex {
    background-image: url("/img/pageaccueilnew.png");
    height: 3500px;
    width: 100%;
    background-size:     contain;
    background-repeat:   no-repeat;
    background-position: top center;
}