<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title id="pageTitle">Index</title>
</head>
<div>
    <header class="fixed-top">
        <img th:src="@{/img/logo.jpg}" class="logo">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link" href="hydrogene">Hydrogène</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="projet">Le projet</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="fil" tabindex="-1">Fil d'actu</a>
            <a class="flex-sm-fill text-sm-center nav-link active" href="articles" tabindex="-1">Articles</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="questionnaire" tabindex="-1">Questionnaire</a>
        </nav>
    </header>
    <body style="margin-top:200px;">
    <div class="row">
        <div th:each="actualite : ${actualites}">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img th:src="@{/img/article_1.jpg}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${actualite.getTitle()}">Card title</h5>
                        <p class="card-text" th:text="${actualite.getContent()}">Some quick example text to build on the card
                            title and make up the bulk of the
                            card's
                            content.</p>
                        <a th:href="${actualite.getLink()}" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragment-script"></div>
    <footer class="footer">
        <div class="text-center">
            H2PiyR © 2016 - Avis Juridique - Politique de Protection des Données - Politique de Cookie
        </div>
    </footer>
    </body>
</html>