<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title id="pageTitle">Hydro et environnement</title>
</head>
<body>
<header class="fixed-top">
    <a href="/index"><img th:src="@{/img/logo.jpg}" class="logo"></a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="hydrogene">Hydrogène</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="/hydrogene-environnement">Hydrogène et Environnement</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="projet">Le projet</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="articles">Articles</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="questionnaire" tabindex="-1">Questionnaire</a>
    </nav>
</header>
<div class="divimgenventete"></div>
<div class="divimgenvmain"></div>
<footer>
    <div class="text-center footer">
        H2PiyR © 2016 - Avis Juridique - Politique de Protection des Données - Politique de Cookie
    </div>
</footer>
<div th:include="fragment-script"></div>
</body>
</html>