<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title id="pageTitle">Index</title>
</head>
<body>
<header>
    <a href="/index"><img th:src="@{/img/logo.jpg}" class="logo"></a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="hydrogene">Hydrogène</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/hydrogene-environnement">Hydrogène et Environnement</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="projet">Le projet</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/articles">Blog</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="questionnaire" tabindex="-1">Testez vos connaissance</a>
    </nav>
    <img th:src="@{/img/indeximg.jpg}" class="img-fluid">
</header>
<div class="entetequiz"></div>
<div>
    <ul>
<li>

    <h3>CSS Stands for...</h3>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
        <label for="question-1-answers-A">A) Computer Styled Sections </label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">B) Cascading Style Sheets</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">C) Crazy Solid Shapes</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">D) None of the above</label>
    </div>
</li>
    </ul>
</div>

</li>
<div th:include="fragment-script"></div>
</body>
</html>