<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment-header">
    <title id="pageTitle">Index</title>
</head>
<body>
<header>
    <a href="/index"><img th:src="@{/img/logo.jpg}" class="logo"></a>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="hydrogene">Hydrogène</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/hydrogene-environnement">Hydrogène et Environnement</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="projet">Le projet</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/articles">Blog</a>
        <a class="flex-sm-fill text-sm-center nav-link active" href="questionnaire" tabindex="-1">Testez vos connaissance</a>
    </nav>
    <img th:src="@{/img/indeximg.jpg}" class="img-fluid">
</header>

<div class="entetequiz"></div>

<div th:if="${!check}">
    <form class="text-center" method="post" th:action="@{/send}">
        <div th:each="Question : ${questions}" >
            <img class="title-question" src="img/mascotte.png">
        <h3 class="title-question" th:text="${Question.quest}">  CSS Stands for...</h3>
    <ul>
        <li th:each="Answer, index : ${Question.answers}">
            <input type="radio" th:name="|answer${Question.id}|" th:id="${Question.id}" th:value="${Answer.id}" required />
            <label th:for="${Question.id}" th:text=" |${index.index+1}) ${Answer.possible}|">A) Computer Styled Sections </label>
        </li>
    </ul>
        </div>
        <input type="submit" value="envoyer">
    </form>
</div>
<div th:if="${check}">
    <div class="score" th:text="|Bravo votre score est de : ${score} /5|"></div>
    <div th:include="fragment-script"></div>
</div>
</body>
</html>